-
    var db = [
    {
    img: 'assets/i/news-img.jpg',
    title: 'Case study: HUGE',
    text: 'So to kick off 2014, we continued to apply this principle to the evolution of our own brand, introducing a refined design system along with a new logo and a reengineered site. Over the course of the last 15 years, we have grown so much and worked hard to apply the'
    },
    {
    img: 'assets/i/news-img.jpg',
    title: 'UncleGrey and Media',
    text: 'Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.'
    },
    {
    img: 'assets/i/news-img.jpg',
    title: 'Top Digital Agencies',
    text: 'California is one of the most culturally, imaginatively, and technologically diverse regions of our planet.There, the last few decades have witnessed an amazing socio-cultural experiment that has gone hand-in-hand with the greatest technological and'
    },
    {
    img: 'assets/i/news-img.jpg',
    title: 'Developing an Effecti',
    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in'
    },
    {
    img: 'assets/i/news-img.jpg',
    title: 'Case study: HUGE',
    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in'
    },
    {
    img: 'assets/i/news-img.jpg',
    title: 'Case study: HUGE',
    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in'
    },
    {
    img: 'assets/i/news-img.jpg',
    title: 'UncleGrey and Media',
    text: 'Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.'
    }];