header
    .header
        .container
            .row
                .header__logo
                    a(href="#")
                        img(src="assets/i/logo.png" alt="logo")
                .header__slogan
                    h1.slogan
                        a(href="#" class="slogan__link") <span class="no-wrap">Questions will</span> <span class="no-wrap"> be answered</span>