.header{
    @extend %footer_and_header;
    padding-bottom: 48px;   
    .header__logo{
        padding-top: 70px;
        margin: 0;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        padding-left: 20px;
        margin-right: 70px;
        @media(max-width:553px){
            width: auto;
        }
    }
    .header__slogan{
        padding-top: 95px;
        webkit-box-flex: 2;
        -ms-flex: 2;
        -webkit-box-flex: 2;
        flex: 2;
        padding-left: 20px;
        
            @media(max-width: 533px){
               padding-top: 0; 
            }
        
        .slogan{
            font-size: 1.78rem;
            margin: 0;
            display: inline;
            font-weight: 300;
            line-height: 1;
            .slogan__link{
                color: $white;
                
                .no-wrap{
                    white-space: nowrap;
                }
            }
        }
    }
}